{% extends 'horarios/base.html' %}

{% block content %}
<br><br>
<h1>Administradores</h1>

<div class="main-content">
<a href="{% url 'administrador_create' %}" class="btn btn-primary mb-3">Crear Nuevo Administrador</a>
<!-- Tabla de Administradores -->
<table>
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for admin in administradores %}
        <tr>
            <td>{{ admin.nombres }}</td>
            <td>{{ admin.apellidos }}</td>
            <td>{{ admin.numero_cedula }}</td>
            <td>
                <!-- Botón para editar -->
                <a href="{% url 'administrador_edit' admin.pk %}">Editar</a>
                <!-- Botón para eliminar -->
                <a href="{% url 'administrador_delete' admin.pk %}" onclick="return confirm('¿Estás seguro de que quieres eliminar a este administrador?');">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
