{% extends 'horarios/base.html' %}

{% block content %}<br><br>
<h1>Administradores</h1>

<table>
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <!-- Otros campos -->
        </tr>
    </thead>
    <tbody>
        {% for admin in administradores %}
        <tr>
            <td>{{ admin.nombres }}</td>
            <td>{{ admin.apellidos }}</td>
            <td>{{ admin.numero_cedula }}</td>
            <!-- Otros campos -->
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Crear Nuevo Administrador</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>
{% endblock %}