{% extends 'horarios/base.html' %}

{% block title %}Ambientes{% endblock %}

{% block content %}
<h1>Ambientes</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre del Ambiente</th>
            <th>Sede</th>
            <th>Programa de Formación</th>
            <th>Instructores</th>
        </tr>
    </thead>
    <tbody>
        {% for ambiente in ambientes %}
        <tr>
            <td>{{ ambiente.nombre_ambiente }}</td>
            <td>{{ ambiente.sede }}</td>
            <td>{{ ambiente.programa_formacion.nombre_programa }}</td>
            <td>
                {% for instructor in ambiente.instructores.all %}
                    {{ instructor.nombres }} {{ instructor.apellidos }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Crear Nuevo Ambiente</h2>
<form method="post" class="mt-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}