{% extends 'horarios/base.html' %}

{% block title %}Ambientes{% endblock %}

{% block content %}
<h1>Ambientes</h1>

<a href="{% url 'ambiente_create' %}" class="btn btn-primary mb-3">Crear Nuevo Ambiente</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre del Ambiente</th>
            <th>Sede</th>
            <th>Programa de Formación</th>
            <th>Instructores</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ambiente in ambientes %}
        <tr>
            <td>{{ ambiente.nombre_ambiente }}</td>
            <td>{{ ambiente.sede }}</td>
            <td>{{ ambiente.programa_formacion.nombre_programa }}</td>
            <td>
                {% for instructor in ambiente.instructores.all %}
                    {{ instructor.nombres }} {{ instructor.apellidos }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                <!-- Botón para editar -->
                <a href="{% url 'ambiente_edit' ambiente.pk %}">Editar</a>
                <!-- Botón para eliminar -->
                <a href="{% url 'ambiente_delete' ambiente.pk %}" onclick="return confirm('¿Estás seguro de que quieres eliminar a este administrador?');">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}