{% extends 'horarios/base.html' %}

{% block title %}Competencias{% endblock %}

{% block content %}
<h1>Competencias</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Unidad de Competencia</th>
            <th>Duración Estimada (horas)</th>
            <th>Resultado de Aprendizaje</th>
            <th>Instructor</th>
            <th>Programa de Formación</th>
        </tr>
    </thead>
    <tbody>
        {% for competencia in competencias %}
        <tr>
            <td>{{ competencia.nombre }}</td>
            <td>{{ competencia.unidad_competencia }}</td>
            <td>{{ competencia.duracion_estimada }}</td>
            <td>{{ competencia.resultado_aprendizaje }}</td>
            <td>{{ competencia.instructor.nombres }} {{ competencia.instructor.apellidos }}</td>
            <td>{{ competencia.programa_formacion.nombre_programa }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Crear Nueva Competencia</h2>
<form method="post" class="mt-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}