{% extends 'horarios/base.html' %}

{% block title %}Competencias{% endblock %}

{% block content %}
<h1>Competencias</h1>

<a href="{% url 'competencia_create' %}" class="btn btn-primary mb-3">Crear Nueva Competencia</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Unidad de Competencia</th>
            <th>Duración Estimada (horas)</th>
            <th>Resultado de Aprendizaje</th>
            <th>Instructor</th>
            <th>Programa de Formación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for competencia in competencias %}
        <tr>
            <td>{{ competencia.nombre }}</td>
            <td>{{ competencia.unidad_competencia }}</td>
            <td>{{ competencia.duracion_estimada }}</td>
            <td>{{ competencia.resultado_aprendizaje }}</td>
            <td>{{ competencia.instructor.nombres }} {{ competencia.instructor.apellidos }}</td>
            <td>{{ competencia.programa_formacion.nombre_programa }}</td>
            <td>
                <!-- Botón para editar -->
                <a href="{% url 'competencia_edit' competencia.pk %}">Editar</a>
                <!-- Botón para eliminar -->
                <a href="{% url 'competencia_delete' competencia.pk %}" onclick="return confirm('¿Estás seguro de que quieres eliminar a este administrador?');">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
