{% extends 'horarios/base.html' %}

{% block title %}Programas de Formación{% endblock %}

{% block content %}
<h1>Programas de Formación</h1>

<a href="{% url 'programa_formacion_create' %}" class="btn btn-primary mb-3">Crear Nuevo Programa</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre del Programa</th>
            <th>Jornada</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Instructores</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for programa in programas %}
        <tr>
            <td>{{ programa.nombre_programa }}</td>
            <td>{{ programa.jornada }}</td>
            <td>{{ programa.fecha_inicio }}</td>
            <td>{{ programa.fecha_fin }}</td>
            <td>
                {% for instructor in programa.instructores.all %}
                    {{ instructor.nombres }} {{ instructor.apellidos }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                <!-- Botón para editar -->
                <a href="{% url 'programa_formacion_edit' programa.pk %}">Editar</a>
                <!-- Botón para eliminar -->
                <a href="{% url 'programa_formacion_delete' programa.pk %}" onclick="return confirm('¿Estás seguro de que quieres eliminar a este administrador?');">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

