{% extends "horarios/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cambiar Contraseña</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link type='text/css' href="{% static 'css/cambiar_contraseña.css' %}" rel='stylesheet'>
</head>
<body>
    <div class="container mt-4">
        <h2 class="mb-4">Cambiar Contraseña</h2>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="mb-3">
                <label for="{{ form.old_password.id_for_label }}" class="form-label">Contraseña Actual</label>
                {{ form.old_password|add_class:"form-control" }}
                {{ form.old_password.errors }}
            </div>

            <div class="mb-3">
                <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nueva Contraseña</label>
                {{ form.new_password1|add_class:"form-control" }}
                {{ form.new_password1.errors }}
            </div>

            <div class="mb-3">
                <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirmar Nueva Contraseña</label>
                {{ form.new_password2|add_class:"form-control" }}
                {{ form.new_password2.errors }}
            </div>

            <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock content %}
