{% extends 'calendarios/baseCA.html' %}

{% block content %}
<div class="container">
    <h2>Calendario de Ambientes</h2>
    <label for="ambienteSelect">Selecciona un Ambiente:</label>
    <select id="ambienteSelect" class="form-control">
        <option value="">--Selecciona un Ambiente--</option>
        {% for ambiente in ambientes %}
            <option value="{{ ambiente.id }}">{{ ambiente.nombre_ambiente }}</option>
        {% endfor %}
    </select>

    <div id='calendar'></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            locale: 'es',
            events: function(fetchInfo, successCallback, failureCallback) {
                var ambienteId = document.getElementById('ambienteSelect').value;
                if (ambienteId) {
                    fetch('/calendarios/get_ambiente_events/' + ambienteId + '/')
                        .then(response => response.json())
                        .then(data => successCallback(data))
                        .catch(error => failureCallback(error));
                } else {
                    successCallback([]);
                }
            }
        });
        calendar.render();

        document.getElementById('ambienteSelect').addEventListener('change', function() {
            calendar.refetchEvents();
        });
    });
</script>
{% endblock %}
